language: node_js
node_js:
  - "10"
cache:
  directories:
  - node_modules
script:
  - npm run build
deploy:
  provider: pages
  local-dir: dist
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep-history: true
  on:
    branch: master
